    {{> header}}
    
    <main>

        <h1>Adoptar</h1>

        <p>¿Queres adoptar un gato o un perro?
            <br>
            Primero te contamos los requisitos y despues podras ver los animales que estan esperando un hogar.
        </p>

        <hr>

        <h2>Requisitos</h2>

        <section id="requisitos">
            <ul>
                <li>Ser mayor de edad. Se presentará el DNI de identificación.</li>
                <li>Comprobante de domicilio. Documento que demuestre que la persona es propietaria del domicilio donde vivirá la mascota o, en caso de alquiler, que se permite tener animales en el lugar.</li>
                <li>Firma de un acta en la que te comprometes a:</li>
                <ul>
                    <li>Cuidar de tu mascota y mantenerla en unas condiciones óptimas de espacio, tiempo, alimentación, ejercicio...</li>
                    <li>Dotarle de los cuidados veterinarios que necesite. La mascota se entregará desparasitada y con las correspondientes vacunas.</li>
                    <li>No destinarlo a la cría o reproducción. Los animales que tengan la edad suficientes se entregarán esterilizados, y si aún no han alcanzado la edad necesaria se firmará un compromiso de esterilización.</li>
                    <li>Notificar cualquier cambio a la novedad importante (pérdida, muerte...).</li>
                    <li>Compromiso de no abandonarlo. Si por algún motivo no podes hacerte cargo de la mascota nos lo haras saber para poder encontrarle un nuevo hogar.</li>
                </ul>
            </ul>
        </section>

        <hr>

        <h2>Mascotas en Adopción</h2>

        <section id="mascotas-en-adopcion">

            <table class="table table-bordered">
                <tr>
                    <th class="table-dark">Nombre</th>
                    <th class="table-dark">Animal</th>
                    <th class="table-dark">Sexo</th>
                    <th class="table-dark">Nacimiento</th>
                </tr>
                {{#each items}}
                    <tr>
                        <td class="table-light">{{this.nombreMascota}}</td>
                        <td class="table-light">{{this.animalMascota}}</td>
                        <td class="table-light">{{this.sexoMascota}}</td>
                        <td class="table-light">{{moment this.nacimientoMascota format="DD-MM-YYYY"}} </td>
                    </tr>
                {{/each}}
            </table>

            <p><strong>
                Completa el siguiente formulario con la mascota que queres adoptar y en breve te estaremos contactando.
            </strong></p>

            <div class="contenedor">

                <form class="formulario" id="form-adoptar" method="POST" action="/enviar-adoptar">

                    <label for="adoptado">Mascota a Adoptar</label>
                        <select class="form-select" id="adoptado" name="adoptado" required>
                            {{#each items}}
                                <option value={{this.nombreMascota}}>{{this.nombreMascota}}</option>
                            {{/each}}
                        </select>
                    

                    <label for="nombre">Nombre</label>
                    <input id="nombre" type="text" name="nombre" placeholder="Nombre y Apellido" minlength="3" maxlength="40" required>

                    <label for="telefono">Telefono</label>
                    <input id="telefono" type="number" name="telefono" placeholder="5491101234567" minlength="8" maxlength="13" required>

                    <label for="email">Correo Electrónico</label>
                    <input id="email" type="email" name="email" placeholder="example@example.com" maxlength="40" required>

                    <input id="submit" class="btn btn-primary" type="submit" value="Enviar">

                </form>

            </div>

        </section>

    </main>

    {{> footer}}